# Exclude everything by default.  Require individual files to be whitelisted.
global-exclude *

# Include python files.
include setup.py
recursive-include mnemonicode *.py

# Include type annotation stub files.
recursive-include mnemonicode *.pyi

# Include documentation.
include README.rst LICENSE
